<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{% static 'js/data.js' %}"></script>

        {% block css %}
        {% endblock %}
    </head>

    {% comment %} alan button {% endcomment %}
    <div class="alan-btn"></div>
    <script type="text/javascript" src="https://studio.alan.app/web/lib/alan_lib.min.js"></script>
    <script src="{% static 'js/alan.js' %}"></script>

    <body>
        {% comment %} <section class="experiment" >

            <br>
            <h3>
                Send Search Message: Speech to text
            </h3>
            <div class="container">
                <form method="POST" enctype="multipart/form-data" action="" target="_blank" id="search-form">
                    
                    <input type="text" placeholder="Search..." name="searchInput" id="searchInput" autocomplete="off" autofocus>
                  <!-- <button type="button"><i class="fas fa-microphone"></i></button> -->
                </form>
                  <button type="button" onclick="searchNews()">Search</button></p>
                <p class="info"></p>
              </div>
              
        </section> {% endcomment %}
        <audio src="" id="audio"></audio>
        <div class="wrapper">
            <header>
                <div class="header-wrapper">
                    <div class="header-top">
                        <nav class="navbar navbar-expand-lg bg-light double-nav">
                            <div class="container-fluid divider">
                              <div class="col-lg-10">
                                    <small class="sec-text">Welcome to our speech-news website!</small>
                              </div>
                          
                              <div class="col-lg-2">
                                <ul class="navbar-nav">
                                    <li class="header-divider"></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#a"><i class="bi bi-facebook sec-item  focus"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#b"><i class="bi bi-youtube sec-item focus"></i></a>                                   
                                    </li>
                                    <li class="nav-item">                            
                                        <a class="nav-link" href="#c"><i class="bi bi-twitter sec-item  focus"></i></a>
                                    </li>
                                </ul>
                              </div>
                            </div>
                        </nav>
                    </div>

                    <div class="header-main">
                        <nav class="navbar navbar-expand-lg bg-light double-nav">
                            <div class="container-fluid">
                                <div class="col-lg-1">
                                    <a class="navbar-brand" href=""><img src="" alt=""></a>
                                </div>
                              
                                <div class="col-lg-11">
                                    <ul class="navbar-nav">
                                      <li class="nav-item">
                                        <a class="nav-link main-text focus" href={% url 'category' 'Xahoi' %}>SOCIAL</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link main-text focus" href={% url 'category' 'Phapluat' %}>SPORT</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link main-text focus" href={% url 'category' 'Thegioi' %}>WORLD</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link main-text focus" href={% url 'category' 'Thoisu' %}>POLITICS</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link main-text focus" href={% url 'category' 'Doisong' %}>LIFE</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link main-text focus" href={% url 'category' 'Kinhdoanh' %}>BUSINESS</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link main-text focus" href={% url 'category' 'Giaitri' %}>ENTERTAINMENT</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link main-text focus" href={% url 'category' 'Congnghe' %}>TECHNOLOGY</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link main-text focus" href="{% url 'search' %}">SEARCH</a>
                                        </div>
                                      </li>
                                    </ul>
                                </div>

                                {% comment %} <div class="col-lg-3">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">                            
                                            <div class="search-box">
                                                <input type="text" name="" placeholder="Tìm kiếm..." class="search-field">
                                                <a href="" class="search-btn">
                                                    <i class="bi bi-search"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div> {% endcomment %}
                            </div>
                        </nav>
                    </div>                  
                </div>
            </header>

            <main>
                <div class="main-wrapper">
                    
                    {% block content %}
                    {% endblock %}

                </div>
            </main>

            <footer>
                <div class="footer-container row">
                    <div class="col-lg-8">
                        <h3>News</h3>
                        <p>Newspaper page updates domestic and international news quickly. The function of surfing newspapers using voice gives users a new experience!</p>
                    </div>
    
                    <div class="col-lg-4">
                        <h3>Contact</h3>
                        <p>Please contact through email for more details!</p>
        
                        <div id="email">
                            <input type="text" placeholder="Email Address">
                            <i class="bi bi-envelope"></i>
                        </div>
                    </div>
                </div>
    
                <p>Copyright &copy; 2025 All rights reserved | GeekProbin</p>
            </footer>
        </div>
    {% block js %}
    {% endblock %}
    {% comment %} <script src="{% static 'js/jquery.slim.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    {% comment %} <script src="{% static 'js/recorder.js' %}"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    </body>
</html>

    