<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Text to Speech</title>
        {% load static %} 
        {% block css%}
        <link rel="stylesheet" href="{% static 'css/test.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href = "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {% endblock css%} 
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            Infor:<br><input type="text" name="textinfor">
            <input type="submit" value="Submit">
        </form>
        
        
        <div class="outer-container">
            <audio src="https://res.cloudinary.com/cbanlawi/video/upload/v1614140796/HarryStyles-WatermelonSugar_f5471p.mp3" id="track"></audio>
          </div>
          
          <div class="player-container">
            
            <div class="box">
              <div class="play-pause">
                <i class="far fa-play-circle fa-3x" id="play"></i>
                <i class="far fa-pause-circle fa-3x" id="pause"></i>
              </div>
              <div class="track-info">
                <div id="track-artist">Harry Styles</div>
                <div id="track-title">Watermelon Sugar</div>
              </div>
              <div class="next-prev">
                <i class="far fa-arrow-alt-circle-left fa-2x" id="prev-track"></i>
                <i class="far fa-arrow-alt-circle-right fa-2x" id="next-track"></i>
              </div>
              <div class="progress-bar">
                <input type="range" id="progressBar" min="0" max="" value="0" />
              </div>
              <div class="track-time">
                <div id="currentTime"></div>
                <div id="durationTime"></div>
              </div>
            </div>
          </div>
  

        <script src="{% static 'js/test.js' %}"></script>
        
    </body>
</html>